<%= form_with(model: railway_station) do |form| %>
  <%= render 'common/errors', resourse: railway_station %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
